<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>cookie.ejs</h1>
    <a href="save_cookie">쿠키저장</a>\
    <a href="load_cookie">쿠키로드</a>
  </body>
</html>
